{% extends "base.html" %}
{% block content %}
     <div class="form-size">
        <form action="{{ url_for('users.forgot') }}" method="post">
            <div class="form-group">
                <h3>Forgot Password</h3>
                <p>Please enter your email address, we will send a password reset link to your email.</p>
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-default">Reset Password</button>
        </form>
    </div>
{% endblock %}